
# Ignore Colab checkpoints
.ipynb_checkpoints/


# Ignore Colab data files
logs/
models/
samples/
predicts/
__pycache__
*pycache*

!scripts/*
scripts/samples
scripts/predicts
scripts/models
scripts/wandb
*wandb

# Ignore Colab output files
*.npy
*.tif
*.h5
*.ini
*.txt
*.png
*.csv
*.keras