# Ignore Colab checkpoints
.ipynb_checkpoints/

# Ignore Colab output files
*.npy
*.tif
*.h5

# Ignore Colab data files
data/
logs/
models/
predicts/
__pycache__
pycache
scripts/samples
scripts/predicts
scripts/models
